form {
    width: 100%;
}

.select-menus {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

select {
    background: #f6f5f7;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    width: 33%;
    
}

option {
    cursor: pointer;
    
}

.log-display-list {
    width: 100%;
    
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

th {
    background-color: #f2f2f2;
}

button.display-logs,
button.edit-logs,
button.visualize-logs,
button.delete-logs {
    margin: 10px;
    background-color: #9cd08f;
    border: 1px solid darkgreen;
    color: black;
}

.sugar-log-submit,
.med-log-submit,
.meal-log-submit {
    border: 1px solid #2f004f;
    background-color:  #2f004f;
}

section.sugar-levels,
section.meals,
section.med-regimens {
    width: 50%;
}

.focus {
    background-color: darkgray;
}
