form {
    width: 100%;
}

.select-menus {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

select {
    background: #f6f5f7;
    border-radius: 15px;
    cursor: pointer;
}

option {
    cursor: pointer;
}

.log-display-list {
    width: 100%;
    
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

