footer {
   background-color: #2f004f;
   
   color: #fff;
    position: fixed;
    bottom: 4px;
    z-index: -1;
   width: 100%;
   text-align: center;
   padding: 15px;
   font-weight: 450;
   width: 80%;
   border-radius: 20px;
}

